<!-- https://github.com/marionettejs/backbone.marionette/wiki/Books%2C-Articles%2C-Screencasts%2C-and-Presentations -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Backbone and React</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/backbonereact.css" />
</head>
<body>
  <button class="connect">Connect</button>
  <div class="target"></div>
  <div id="fb-root"></div>

  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/react/react.js"></script>
  <script src="/lib/react/JSXTransformer.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/json2.js"></script>
  <script src="/lib/underscore/underscore.js"></script>
  <script src="/lib/backbone/backbone.js"></script>
  <!-- <script type="text/jsx" src="/js/backbonereact.js"></script> -->
  <!-- <script type="text/jsx" src="/js/backbonereactwithmixins.js"></script> -->
  <!-- <script type="text/jsx" src="/js/bbmodelreact.js"></script> -->
  <script type="text/jsx" src="/js/fbreact.js"></script>
</body>
</html>
