<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bower Test Playground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/basic.css" />
</head>
<body>
  <img src="/img/st.jpg" class="img-rounded" height="25%">
  <h1>Index page.</h1>
  <p class="lead">
    Discover different implementations.
  </p>

  <ul>
    <li><a href="/events">Event Management</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/react">React</a></li>
    <li><a href="/polymer">Polymer</a></li>
    <li><a href="/marionette">Marionette with list creation</a></li>
  </ul>

  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/underscore/underscore.js"></script>
  <script src="/lib/backbone/backbone.js"></script>
</body>
</html>
