<!-- https://github.com/marionettejs/backbone.marionette/wiki/Books%2C-Articles%2C-Screencasts%2C-and-Presentations -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Marionette Contact Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/basic.css" />
</head>
<body id="marionette_body">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand">Contact manager</span>
            </div>
        </div>
    </div>

    <div id="contact" class="container">
        <div id= "main-region">
            <p>Here is static content on the page. You'll notice that it gets replaced by our app as soon as we start it.</p>
        </div>
        Phone Number is <div id="phoneNumber"></div>
    </div>

    <div id="list-region" class="container">
        <p>Here will be the list.</p>
    </div>

    <div class="container">
        <!-- Throwing everything together here. This div is for a list with data read in form
              12  4  29  3,00  2,40
              12  3  2  1,00  0,80
              etc.
         -->
        <input id="data-file" type="file" />
        <output id="data-output"></output>

        <table id="table_list"></table>
    </div>

    <script type="text/template" id="static-template">
        <p>This is text that was rendered by our Marionette app.</p>
    </script>

    <script type="text/template" id="different-static-template">
        <p>Text from a different template...</p>
    </script>

    <script type="text/template" id="list-item-template">
        <li>One item</li>
    </script>

    <script type="text/template" id="contact-template">
        <p><%- firstName %> <%- lastName %></p>
    </script>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/json2.js"></script>
    <script src="/lib/underscore/underscore.js"></script>
    <script src="/lib/backbone/backbone.js"></script>
    <script src="/lib/marionette/lib/backbone.marionette.js"></script>
    <script src="/js/marionette_main.js"></script>
    <script src="/js/file.js"></script>
</body>
</html>
