<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>React - Go Do It</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/basic.css" />
</head>
<body>
    <div id="example"></div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/react/react.js"></script>
    <script src="/lib/react/JSXTransformer.js"></script>
    <script type="text/jsx" src="/js/morereact.js"></script>
</body>
</html>
