<!doctype html>
html(lang="en")
head
  meta(charset="UTF-8")
  title React
  link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css")
  link(rel="stylesheet" href="/css/basic.css")
body
  h2 Using React
  div#message

  script(type='text/javascript' src='/lib/react/react.min.js')
  script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='/js/reacttest.js')
