.animate-enter {
  opacity    : 0.01;
  transition : opacity .5s ease-in;
}

.animate-enter.animate-enter-active {
  opacity : 1;
}

.animate-leave {
  opacity    : 1;
  transition : opacity .5s ease-in;
}

.animate-leave.animate-leave-active {
  opacity : 0.01;
}

a {
  cursor : pointer;
  color  : blue;
}

body {
  padding     : 20px;
  font-family : helvetica, arial;
}

.picture {
  margin : 0 0 10px 0;
}
